/* General Layout */
  .profile-page {
    display: flex;
    position: relative;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #FEFAE0; /* Warna background */
  }

  /* Left Section */
  .profile-left {
    background-color: #FEFAE0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #A9B388;
    padding: 20px;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #A9B388; /* Background placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #FEFAE0; /* Warna inisial */
    text-transform: uppercase;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .profile-left h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #5C2C10;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .info p {
    font-size: 16px;
    color: #5C2C10;
  }
  
  .info span {
    color: #A9B388;
  }
  
  /* Right Section */
  .profile-right {
    background-color: #A9B388;
    flex: 2;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-top: 70px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #FEFAE0;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #FEFAE0;
    color: #5C2C10;
  }

  .edit-profile-btn {
    background-color: #5F6F52; /* Warna latar belakang tombol */
    color: #FEFAE0; /* Warna teks tombol */
    padding: 10px 20px; /* Spasi dalam tombol */
    font-size: 16px; /* Ukuran font */
    font-weight: bold; /* Teks bold */
    border: none; /* Hilangkan border */
    border-radius: 5px; /* Ujung tombol melengkung */
    cursor: pointer; /* Pointer saat hover */
    margin-top: 50px; /* Jarak dari kolom Age */
    display: block; /* Buat tombol tampil sebagai block */
    width: auto; /* Sesuaikan tombol dengan lebar kolom */
    text-align: center; /* Pusatkan teks dalam tombol */
  }
  
  .edit-profile-btn:hover {
    background-color: #4E5E46; /* Warna saat tombol di-hover */
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: #A9B388;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .edit-text {
    color: #FEFAE0;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
  }

  .form-group-edit {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .form-group-edit  label {
    display: block;
    font-size: 14px;
    color: #FEFAE0;
    margin-bottom: 5px;
  }
  
  .form-group-edit  input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #FEFAE0;
    color: #5C2C10;
  }

  .close-btn {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: none; 
    border: none;
  }
  
  
  